<div class="profile">
    <section id="wrapper">
        <header id="header">
        	{{#if image}}
	            <a href="{{url}}">
	                <img id="avatar" src="{{image}}" alt="{{name}}" />
	            </a>
            {{/if}}
            <h1>{{name}}</h1>
            <h2>{{bio}}</h2>
        </header>
    </section>
</div>
